*{
    font-family: sans-serif;
    padding: 0;
    margin: 0; 
    background-color: blanchedalmond;
}

header{
    min-height: 10vh;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem;
}

h1{
   text-align: center;
   margin: 1rem;
}

nav{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav a{ 
    width: 9.5rem;
    height: 1rem;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(233, 138, 14);
    color: white;
    transition: all 0.6s;
    margin: 5px;
}
 
nav a:hover{
  background-color: rgb(90, 161, 153);
  transform: scale(1.2)
} 

#Foto1 {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 20rem;
    filter: grayscale(1);
    transition: .4s;
    border: 6px solid rgb(208, 74, 60);
    margin-top: 1rem;
}

#Foto1:hover {
    filter: none;
}

main{
    min-height: 90vh;
    padding: 2rem;
    margin: 2rem;
}

h2{
    text-align: center;
    padding: 5px;
    width: 100%;
    border-color: rgb(208, 74, 60);
    border-style: solid;
}

h3 {
    font-weight: bolder;
}

.contenedor {
    display: inline-block;
    width: 100%;
    height: 250px;
    text-align: start;
}

#Logo{
    width: 15rem;
    height: 100%;
    border: solid rgb(208, 74, 60);
    padding: 1rem;
    border-radius: 30%;
}

.info {
    margin-top: 30px;
    margin-left: 20px;
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

p{
    padding: 0.5rem;
}

#rules{
    text-align: center;
}

#rules h3, p{
    padding: 10px;
}

#mrules h4{
    padding: 10px
}

dt{
    padding: 10px;
}

li{
    list-style-position: inside;
    padding: 6px;
}

.letra{
    list-style-type: lower-latin;
}

form {
    min-height: 95vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
}

label, input{
    padding: 5px;
    display: inline-block;
    flex-wrap: wrap;
}

fieldset{
    padding: 1rem;
    margin: 1rem;
    border-color: rgb(208, 74, 60);
    border-style: solid;
}

#submit{
    font-weight: bolder;
    background-color: rgb(233, 138, 14);
    color: white;
    transition: all 0.6s;
}

#submit:hover{
    background-color: rgb(90, 161, 153);
    transform: scale(1.2)
}

#game h2{
    text-align: start;
    border: none;
}

.contenedor2{
    display: flex;
    justify-content: center;
}

table {
    background-color: rgb(233, 138, 14);
    margin: 2rem;
    width: 90%;   
}

th, td {
    text-align: center;
    background-color: #f5dab6;
    align-content: center
}

th{
    padding: 1rem;
}

#datos {
    display: inline-flex;
}

#email {
    font-weight: bolder;
}

iframe{
    width: 9rem;
    height: 6rem;
}

@media (max-width:600px){
    th, td {
       font-size: x-small;
    }
    table{
        margin: 0rem; 
    }
    iframe{
        width: 6rem;
        height: 3rem;
    }
}

@media (max-width:425px){
    th, td {
        font-size: xx-small;
     }
     table{
        margin: 0rem; 
    }
    h3, h2, p {
        padding: 5px;
        font-size: x-small;
    }
    iframe{
        width: 4rem;
        height: 2rem;
    }

}