*{
    font-family: sans-serif;
    padding: 0;
    margin: 0; 
    background-color: blanchedalmond;
}

header{
    min-height: 5vh;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
    text-align: center;
}

 main{
    min-height: 95vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
}

h4, h3, p, dt{
    padding: 10px;
}

li{
    list-style-position: inside;
    padding: 6px;
}

.letra{
    list-style-type: lower-latin;
}