*{
    font-family: sans-serif;
    padding: 0;
    margin: 0; 
    background-color: blanchedalmond;
}

header{
    min-height: 10vh;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
}

h1{
   text-align: center;
}

nav{
    position: relative;
    left: 22.5rem;
    align-items: flex-end;
}

nav a{ 
    display: inline-block;
    width: 6.5rem;
    height: 1rem;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(233, 138, 14);
    color: white;
    transition: all 0.6s;
    margin: 5px;
}
 
nav a:hover{
  background-color: rgb(90, 161, 153);
  transform: scale(1.2)
} 

#Foto1 {
    width: 70rem;
    height: 20rem;
    align-content: center;
    filter: grayscale(1);
    transition: .4s;
    border: 6px solid rgb(208, 74, 60);
}

#Foto1:hover {
    filter: none;
}

main{
    min-height: 90vh;
    padding: 2rem;
    margin: 2rem;
}

h2{
    text-align: center;
    padding: 5px;
    border-color: rgb(208, 74, 60);
    border-style: solid;
}

h3 {
    font-weight: bolder;
}

.contenedor {
    display: inline-block;
    width: 100%;
    height: 250px;
    text-align: start;
}

#Logo{
    display: inline-block;
    width: 20%;
    height: 100%;
    border: solid rgb(208, 74, 60);
    padding: 1rem;
    border-radius: 30%;
}

.info {
    margin-top: 30px;
    margin-left: 20px;
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

p{
    padding: 0.5rem;
}

