* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}

header {
    min-height: 5vh;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem;
}

nav{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav a{ 
    width: 9.5rem;
    height: 1rem;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(233, 138, 14);
    color: white;
    transition: all 0.6s;
    margin: 5px;
}
 
nav a:hover{
  background-color: rgb(90, 161, 153);
  transform: scale(1.2)
} 

h1 {
    text-align: center;
    padding: 1rem;
}

main {
    min-height: 95vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
}

.contenedor{
    display: flex;
    justify-content: center;
}


table {
    background-color: rgb(233, 138, 14);
    margin: 2rem;
    width: 90%;   
}

th, td {
    text-align: center;
    background-color: #f5dab6;
    align-content: center
}

th{
    padding: 1rem;
}

h3, h2, p {
    padding: 10px;
}

#datos {
    display: inline-flex;
}

#email {
    font-weight: bolder;
}

iframe{
    width: 9rem;
    height: 6rem;
}

@media (max-width:600px){
    th, td {
       font-size: x-small;
    }
    table{
        margin: 0rem; 
    }
    iframe{
        width: 6rem;
        height: 3rem;
    }
}

@media (max-width:425px){
    th, td {
        font-size: xx-small;
     }
     table{
        margin: 0rem; 
    }
    h3, h2, p {
        padding: 5px;
        font-size: x-small;
    }
    iframe{
        width: 4rem;
        height: 2rem;
    }

}